img {
  width: auto;
}
.card {
    width: auto;
}
.row {
    flex-wrap: nowrap;
  }
  
div.scrollbar {
    overflow: auto;
    white-space: nowrap;
  }
div.card{
  background-color: lightblue;
}
.col {
  background-color: lightgray; 
}
h1{
  margin: 1rem;
}
.imageContainer .recordImage{
padding: auto;
margin: auto;
}
.recordImage{
  display: flex;
  content: center;
}
.recordName{
  display: flex;
}
.record{
  padding:auto;
  margin:auto;
  text-align:center;
}